<!DOCTYPE html>
<html>
 
<head>
    <title>Second Page</title>
    <script async defer src="https://static.cdn.prismic.io/prismic.js?new=true&repo=my-express-website"></script>
    

</head>
 
<body>
    
    <div class="content">
        <h1>nothing is working</h1>
    </div>
</body>
 
</html>   